<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommentMapper">
	
	<!--表名 -->
	<sql id="tableName">
		<!-- SYS_COMMENT -->
		sys_comment
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		SHARE,	
		USER,	
		COMMENT_USER,	
		TIME,	
		CONTENT,	
		COMMENT_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{SHARE},	
		#{USER},	
		#{COMMENT_USER},	
		#{TIME},	
		#{CONTENT},	
		#{COMMENT_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			COMMENT_ID = #{COMMENT_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			SHARE = #{SHARE},
			USER = #{USER},
			COMMENT_USER = #{COMMENT_USER},
			TIME = #{TIME},
			CONTENT = #{CONTENT},
		COMMENT_ID = COMMENT_ID
		where 
		COMMENT_ID = #{COMMENT_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			COMMENT_ID = #{COMMENT_ID}
	</select>
	
	<!-- 通过ShareID获取数据 -->
	<select id="findByShareId" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			SHARE = #{SHARE}
	</select>
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				<!--	根据需求自己加检索条件
					字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>
	<!-- 分享的评论列表 -->
	<select id="shareCommentlistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and SHARE = #{pd.keywords}
		</if>
	</select>
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			COMMENT_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	<!-- 获取分享评论列表总数 -->
	<select id="getCommentCount" parameterType="pd" resultType="pd">
		select 
			count(COMMENT_ID) commentCount
		from 
		<include refid="tableName"></include>
		where 
			SHARE = #{SHARE}
	</select>
	<!-- fh313596790qq(青苔) -->
</mapper>